body {
  background-image: linear-gradient(50deg, #115da3, #4ecfed);
  background-size: cover;
  padding: 8%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 100vh;  
}


.InnerWrapper {
  width: 70%;
  margin: auto;
}


.DisplayInfo {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 0 0 3% 0;
  font-family: 'Open Sans';
  color: white;
}

.DisplayInfo svg {
  fill: #fff;
  display: inline-block;
  width: 12px;
  margin-right: 10px;
  margin-bottom: -1px;
}


.DisplayInfo h1 {
  display: inline-block;
  letter-spacing: 0.1px;
  margin: 0;
  height: 24px;
  font-size: 18px;
  font-weight: 600;

}

.DisplayInfo h2 {
  margin: 0;
  height: 19px;
  font-size: 14px;
  font-weight: normal;
}


@media only screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(25deg, #d9fbff, #ffffff);
    padding: 0;
  }

  .InnerWrapper {
    width: 100%;
  }

  .DisplayInfo h1 {
    color: #1768aa;
    margin-top: 30%;
  }

  .DisplayInfo h2 {
    color: #65aed5;
    margin: 3px 0 0 0;
  }

  .DisplayInfo svg {
    fill: #1768AA;
  }
}
