body {
  background-image: linear-gradient(50deg, #115da3, #4ecfed);
  padding: 10%;
}


.InnerWrapper {
  width: 60%;
  margin: auto;
}


.DisplayInfo {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 0 0 3% 0;
  font-family: 'Open Sans';
  color: white;
}

.DisplayInfo img {
  display: inline-block;
  width: 12px;
  margin-right: 6px;
  margin-bottom: -1px;
}

.DisplayInfo h1 {
  display: inline-block;
  letter-spacing: 0.1px;
  margin: 0;
  height: 24px;
  font-size: 18px;
  font-weight: 600;

}

.DisplayInfo h2 {
  margin: 0;
  height: 19px;
  font-size: 14px;
  font-weight: normal;
}

